<div class="container">
    <div class="row justify-content-between" *ngFor="let href of restaurantHrefs">
            <div class="card mb-5" *ngFor="let item of restaurants">
                <a href={{href}} class="text-dark">
                    <img class="rest-icons" src={{item.image}} alt={{item.name}}/>
                    <div class="d-flex mx-2 justify-content-between">
                        <h5>{{item.name}}</h5>
                        <h6 class="mt-1">{{item.rating}}<img class="rating-icon mb-1" src="https://www.svgrepo.com/show/304546/star-filled.svg"/></h6> 
                    </div>
                </a>
            </div>
    </div>
</div>