.restaurant-image {
    height: 30rem;
    object-fit: fill;  
    border: 1px solid black; 
    border-radius: 30px;
    padding: 8px;
}

.rating-icon {
    width: 20px;
}

.description {
    margin-left: 150px;
}

.rating-reviews {
    border: 2px solid black;
    height: 400px;
    overflow-y: scroll;
}




