<app-navbar></app-navbar>
<h4 class="text-center mt-5 mb-5">Add Restaurant</h4>
<form #addRestaurant="ngForm" (ngSubmit)="onSubmit(addRestaurant.value)" class="admin-form p-5" >
    <!--Name-->
    <div class="form-group mb-4">
      <label for="restName">Restaurant Name</label>
      <input name="restaurantName" ngModel id="restName" type="text" class="form-control" placeholder="Enter name of restaurant" >
    </div>
    
    <!--Type-->
    <label for="restType">Restaurant Type</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="typeRadios" ngModel id="fast-food-radio" value="Fast-Food">
        <label class="form-check-label" for="fast-food-radio">Fast-Food</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="typeRadios" ngModel id="cafe-radio" value="Cafe">
        <label class="form-check-label" for="cafe-radio">Cafe</label>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="radio" name="typeRadios" ngModel id="casual-radio" value="Casual">
        <label class="form-check-label" for="casual-radio">Casual</label>
    </div>

    <!--Image Src-->
    <div class="form-group mb-4">
        <label for="restImageSrc">Restaurant Image</label>
        <input name="restaurantImageSrc" ngModel id="restImageSrc" type="text" class="form-control"  placeholder="Copy and paste the image src address of the restaurant">
    </div>
    <!--Href can be configured-->
    
    <!--Hours-->
    <div class="form-group mb-4">
        <label for="restHours">Hours (Open - Close)</label>
        <input name="restaurantHours" ngModel id="restHours" type="text" class="form-control" aria-describedby="hoursHelp"  placeholder="Enter restaurant hours" >
        <small id="hoursHellp" class="form-text text-muted">Don't forget am & pm</small>
      </div>


      <!--Star Rating-->
    <div class="form-group mb-4">
        <label for="restRating">Star Rating</label>
        <input name="restaurantRating" ngModel id="restRating" type="number" class="form-control" aria-describedby="ratingHelp" placeholder="Enter average star rating">
        <small id="ratingHelp" class="form-text text-muted">Rating / 5</small>
    </div>

    
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 